<div class="container">
    <div class="card" style="width: 18rem;">
        <div class="card-body">
          <form>
            <div class="container-fluid">
              <form>
                <div class="form-group">
                  <label>Id</label>
                  <input type="text" class="form-control">
                </div>
                
                <div class="form-group">
                  <label>Make</label>
                  <input type="text" class="form-control">
                </div>
            
                <div class="form-group">
                  <label>Model</label>
                  <input type="text" class="form-control">
                </div>
            
                <div class="form-group">
                  <label>Year</label>
                  <input type="text" class="form-control">
                </div>
            
                <div class="form-group">
                  <label>Description</label>
                  <input type="text" class="form-control">
                </div>
            
                <div class="form-group">
                  <label for="exampleFormControlFile1">Upload car photo</label>
                  <input type="file" class="form-control-file" id="exampleFormControlFile1">
                </div>
                
              </form>
            </div>
          </form>
          <a href="#" class="btn btn-primary">Add to Car Lists</a>
        </div>
    </div>    
</div>